<!-- Sezione relativa ai Progetti -->
<div class="row bg-primary ">
  <div class="col-md-3 border border-1">
    <h5>Project <img src="assets/img/copy.png" alt="" class="copy-icon"></h5>
    <p class="numbers">32</p>
    <h6>10% Completed</h6>
  </div>
  <div class="col-md-3 border border-1">
    <h5>Project</h5>
    <p class="numbers">32</p>
    <h6>10% Completed</h6>
  </div>
  <div class="col-md-3 border border-1">
    <h5>Project</h5>
    <p class="numbers">32</p>
    <h6>10% Completed</h6>
  </div>
  <div class="col-md-3 border border-1">
    <h5>Project</h5>
    <p class="numbers">32</p>
    <h6>10% Completed</h6>
  </div>
</div>
