<!-- Logo -->
<img class="logo" src="assets/img/Logo.png" alt="">

<!-- Menu della Sidebar (Dispositivi Grandi) -->
<ul>
  <li><a routerLink="/"><img src="assets/img/home.png" alt="">Dashboard</a></li>
  <li><a routerLink=""><img src="assets/img/grafico.png" alt=""></a>Tables</li>
  <li><a routerLink=""><img src="assets/img/pages.png" alt=""></a>Pages</li>
  <li><a routerLink=""><img src="assets/img/user.png" alt=""></a>Profile</li>
  <li><a routerLink=""><img src="assets/img/lock.png" alt=""></a>Sign In</li>
</ul>
