<!-- Sezione superiore della Dashboard -->
<div class="row">

  <!-- Contenitore di Destra -->
  <div class="col-md-7">
    <h6>Page/Dashboard</h6>
    <h3>Projects</h3>
  </div>

  <!-- Contenitore di Sinistra -->
  <div class="col-md-5">

    <div class="mb-3 bg-white barra-container">

      <div class="ricerca-div">
        <!-- Search -->
        <form>
          <div class="input-container">
            <img src="assets/img/search.png" alt="Immagine di ricerca" class="search-icon">
            <input type="text" class="form-control search" id="Inputtext1" aria-describedby="textHelp" placeholder="Search">
          </div>
        </form>
      </div>

      <div class="toggle-div">
        <!-- Icona Luna -->
        <img src="assets/img/moon.png" alt="" class="icona-moon">
        <!-- Rounded switch / Toogle -->
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <!-- Icona Campana -->
        <img src="assets/img/bell.png" alt="" class="icona-bell">
      </div>

      <div class="profile-div">
        <!-- Icona Profilo -->
        <img src="assets/img/profile.png" alt="" class="profile">
      </div>

    </div>

    <button type="button" class="btn btn-primary">Create a new project</button>

  </div>
</div>
