<div class="container-fluid">

  <!-- Sezione superiore della Dashboard -->
  <div class="row bg-warning">
    <!-- Projects -->
    <div class="col-md-6">
      <h3>Projects</h3>
    </div>
    <!-- Search -->
    <div class="col-md-6">
      <p>Search</p>
      <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Create a new project</button>
    </div>
  </div>

  <!-- Sezione relativa ai Progetti -->
  <div class="row bg-primary ">
    <div class="col-md-3 border border-1">
      <h6>Project</h6>
      <p class="numbers">32</p>
      <p>10% Completed</p>
    </div>
    <div class="col-md-3 border border-1">
      <h6>Project</h6>
      <p class="numbers">32</p>
      <p>10% Completed</p>
    </div>
    <div class="col-md-3 border border-1">
      <h6>Project</h6>
      <p class="numbers">32</p>
      <p>10% Completed</p>
    </div>
    <div class="col-md-3 border border-1">
      <h6>Project</h6>
      <p class="numbers">32</p>
      <p>10% Completed</p>
    </div>
  </div>

  <!-- Sezione relativa agli Utenti -->
  <div class="row bg-black text-white">
    <!-- Utenti -->
    <div class="col-md-8">
      <p>Users</p>
    </div>
    <!-- Membri del Team -->
    <div class="col-md-4">
      <p>Team Members</p>
      <div class="row">
        <div class="col-md-3">
          x
        </div>
        <div class="col-md-3">
          x
        </div>
        <div class="col-md-3">
          x
        </div>
      </div>
    </div>
  </div>

  <!-- Sezione inferiore della Dashboard -->
  <div class="row bg-success">
    <div class="col-md-5">Projects</div>
    <div class="col-md-7">Weekly</div>
  </div>

</div>
